body {
    margin: 20px;
    width: 2000px;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    height: 200px;
    width: 2000px;
}

.block {
    width: 200px;
    border: 1px solid black;
}